html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #fff;
    background: #000000;
}

h1, h2, h3, h4 {
    font-weight: normal;
    margin: 0;
}

.position-relative {
    position: relative;
}

.bigger-h3 {
    font-size: 3rem;
    line-height: 4rem;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.current-temp {
    font-size: 4rem;
    line-height: 4rem;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.info-box {
    position: relative;
    top: -30px;
}

input {
    border-radius: 6px;
    border: solid 2px #222222;
    padding: 1rem 1rem;
    box-sizing: border-box;
    width: 100%;
    background: #333333;
    margin-bottom: 1rem;
    outline: none;
    color: #ffffff;
    font-size: 1rem;
}

img {
    max-height: 200px;
}

strong {
    opacity: .8;
}

.search-location {
    position: relative;
    max-width: 600px;
    margin: auto;
}

.suggest-box {
    position: absolute;
    top: 3.5rem;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 6px;
}

.suggest-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.suggest-box ul li {
    padding: .5rem;
}

.suggest-box ul li a {
    text-decoration: none;
    color: #444444;
}